html{
	height: 100%;
}
body{
	min-height: 100%;
	margin:0;
}
/*************************** FONTS ********************/

@font-face{
	font-family: Caveat;
	src: url(../assets/Caveat/Caveat-Regular.ttf);

}
@font-face{
    font-family: quicksand;
    src: url("../assets/Quicksand/Quicksand-Regular.ttf")
}
/******************* LOADER ********************/
nav{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
    color: white;
    animation: fade-in 1s ease-in;
    .brand-name{
        font-family: Caveat;
        font-size: 50px;
        margin: 10px 0 0 20px;
    }
}

.landing{
    min-height: 100vh;
    background: url("../assets/img/indian-food-bg.jpg");
    // background-size: cover;
    position: relative;
    animation: background-zoomin 1s ease-in forwards;
    background-position: 50% 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.grey-overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.577);
}
.days-wrap{
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translateX(-50%) translateY(-50%);
    color: white;
    font-family: quicksand;
    font-size: 30px;
    animation: fade-in 1s ease-in;
    width: 100%;

    span{
        font-family: Caveat;
        font-size: 45px;
    }
}
.welcome{
    text-align: center;
    position: relative;
}
.all-center{
    text-align: center;
    padding: 0;
    list-style-type: none;
}

#mains-nv, #mains-v, #sides, #extras{
    text-align: center;
}
.day-boxes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;

    .box{
        height: 200px;
        width: 250px;
        border: 1px solid white;
        position: relative;
        color: white;
        cursor: pointer;
        border-radius: 7px;

        .description{
            font-size: 20px;
            width: 90%;
            top: 60%;
            font-family: quicksand;
            margin: 0 auto;
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center;
        }
        span{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        &:hover{
            transition: all .5s ease;
            background: white;
            color: black;
            -webkit-box-shadow: 0px 0px 23px 30px rgba(255,255,255,0.75);
            -moz-box-shadow: 0px 0px 23px 30px rgba(255,255,255,0.75);
            box-shadow: 0px 0px 23px 30px rgba(255,255,255,0.75);
            // box-shadow: 
        }

        &:nth-child(1){
            .image{
                background: url(../assets/img/order.svg);
                height: 100px;
                width: 100px;
                margin: 0 auto;
                margin-top: 10px;
            }
        }
        &:nth-child(2){
            .image{
                background: url(../assets/img/delivery.svg);
                height: 100px;
                width: 100px;
                margin: 0 auto;
                margin-top: 10px;
            }
        }
        &:nth-child(3){
            .image{
                background: url(../assets/img/final-delivery.svg);
                height: 100px;
                width: 100px;
                margin: 0 auto;
                margin-top: 10px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .process-width{
        min-height: 250px;
        width: 25%;
        background:rgba(0, 0, 0, 0.677);
    }    
}
.day-choice{
    height: auto;
    background: black;
    position: relative;
}

.modal-btn{
    margin: 20px 0 20px 0;;
    button{
        margin: 0 auto;
        display: block;
        width: 40%;
    }

}
.modal-dialog{
    max-width: 70%; 
}
#extras{
    span{
        font-size: 12px;
    }
}
.days-wrap{
    overflow: auto;
    .welcome{
        margin-top: 80px;
    }
    .day-boxes{
        margin-bottom: 50px;
    }
}
.modal-header{
    background-color: rgb(206, 206, 206);
}
@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes background-zoomin{
    0%{
        background-size: 120% 120%;
    }
    100%{
        background-size: 100% 100%;
    }
}

/***************************** FOR PHONES *****************************/

@media  (max-width: 700px) {
    .landing{
        background: url("../assets/img/food-bg-mobile.jpg");
        background-size: cover;
    }
    .day-boxes{
        flex-direction: column;
        margin-top: 10px;
        .box{
            margin: 0 auto;
            width: 70%;
            margin-bottom: 10px;

            .description{
                font-size: 15px;
            }


        }
        .process-width{
            height: auto;
            margin-bottom: 10px;
            &:nth-child(1){
                .image{
                    // width: 20%;
                    margin-top: 5px;
                }
            }
            &:nth-child(2){
                .image{
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            &:nth-child(3){
                margin-bottom: 30px;
                .image{
                    // width: 20%;
                }
            }
        }
    }
    .day-choice{
        height: auto;
        
        .welcome{
            margin-bottom: 20px;
        }
    }
    .days-wrap{
        top: 55%;
    }
    .welcome{
        font-size: 20px;
        margin-top: 70px;
    }

    .modal-dialog{
        margin: 0 auto;
        max-width: 85%;
    }
    .nav-link, .navbar-brand{
        font-size: 12px;
        padding: 5px;
    }
}