html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
}

/*************************** FONTS ********************/
@font-face {
  font-family: Caveat;
  src: url(../assets/Caveat/Caveat-Regular.ttf);
}
@font-face {
  font-family: quicksand;
  src: url("../assets/Quicksand/Quicksand-Regular.ttf");
}
/******************* LOADER ********************/
nav {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
  color: white;
  animation: fade-in 1s ease-in;
}
nav .brand-name {
  font-family: Caveat;
  font-size: 50px;
  margin: 10px 0 0 10px;
}

.landing {
  height: 100vh;
  background: url("../assets/img/indian-food-bg.jpg");
  position: relative;
  animation: background-zoomin 1s ease-in forwards;
  background-position: 50% 50%;
}

.grey-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.577);
}

.days-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  font-family: quicksand;
  font-size: 30px;
  animation: fade-in 1s ease-in;
  width: 100%;
}
.days-wrap span {
  font-family: Caveat;
  font-size: 45px;
}

.welcome {
  text-align: center;
}

.day-boxes {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}
.day-boxes .box {
  height: 200px;
  width: 200px;
  border: 1px solid white;
  position: relative;
  color: white;
  cursor: pointer;
}
.day-boxes .box span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 55%;
}
.day-boxes .box .description {
  font-size: 20px;
  width: 90%;
  top: 60%;
  font-family: quicksand;
}
.day-boxes .box:nth-child(1) .image {
  background: url(../assets/img/order.svg);
  height: 35%;
  width: 30%;
  margin: 0 auto;
}
.day-boxes .box:nth-child(2) .image {
  height: 50%;
  width: 45%;
  margin: 0 auto;
}
.day-boxes .box:nth-child(3) .image {
  background: url(../assets/img/final-delivery.svg);
  height: 36%;
  width: 30%;
  margin: 0 auto;
}
.day-boxes .box:nth-child(3) .image img {
  width: 100%;
  height: 100%;
}
.day-boxes .process-width {
  height: 300px;
  width: 25%;
  background: rgba(0, 0, 0, 0.677);
}

.day-choice {
  height: 100vh;
  background: black;
  position: relative;
}

.modal-btn {
  margin: 20px 0 20px 0;
}
.modal-btn button {
  margin: 0 auto;
  display: block;
}

.modal-dialog {
  max-width: 70%;
}

#extras span {
  font-size: 12px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes background-zoomin {
  0% {
    background-size: 120% 120%;
  }
  100% {
    background-size: 100% 100%;
  }
}
/***************************** FOR PHONES *****************************/
@media (max-width: 700px) {
  .landing {
    background: url("../assets/img/food-bg-mobile.jpg");
    background-size: cover;
  }

  .day-boxes {
    flex-direction: column;
    margin-top: 10px;
  }
  .day-boxes .box {
    margin: 0 auto;
    width: 70%;
  }
  .day-boxes .box .description {
    font-size: 15px;
  }
  .day-boxes .process-width {
    height: 150px;
  }
  .day-boxes .process-width:nth-child(1) .image {
    width: 20%;
    margin-top: 5px;
  }
  .day-boxes .process-width:nth-child(2) .image img {
    width: 100%;
    height: 100%;
  }
  .day-boxes .process-width:nth-child(3) .image {
    width: 20%;
  }

  .day-choice {
    height: 130vh;
  }

  .days-wrap {
    top: 55%;
  }

  .welcome {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
